---
---

@import "{{ site.theme }}";

.wrapper {
  width:1000px;
  // left side is 270
  // 1200-270 = 930
  // 30px free room
  margin:0 auto;
}

section {
  width:640px;
  float:right;
  padding-bottom:50px;
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    width:500px;
  }

  .downloads {
    width:99%;
  }

  .downloads li, .downloads li + li + li {
    width:33%;
  }
}